@media (max-width: 767px) {
    /* navbar */
    .nav-item {
        border: none;
    }
    /* section-job-info */
    .grid {
            grid-template-columns: 1fr;
    }

    .grid-container {
        display: block;
    }
    
    .grid-item {
        margin: 20px 0;
    }
    .heading {
        text-align: center;
    }
     #goals .d-flex,
     #scope .d-flex,
     #timeline .d-flex,
     #primary .d-flex,
     #team .d-flex {
            flex-direction: column;
            align-items: center;
        }
    
    .certificate-list {
        width: max-content;
        flex-direction: column;
        border-bottom: 1px solid #d6c08d;
    }

    .certificate-list:first-child {
        border-right: none;
    }

     .certificate-list img {
        width: 100%;
     }

     /* footer */
     .footer-social {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
    }
     
      .footer-social li a {
        display: inline-block;
        padding: 20px 0;
      }

}
