a {
    text-decoration: none;
}

ul,li {
    padding: 0;
}
/* navbar */
.font-icon {
    font-size: 60px;
}

.nav-item {
    padding: 0 20px;
}

.nav-item span {
    display: block;
}

.social-link {
    margin-right: 1rem;
    font-size: 20px;
}

/* and navbar */

/* section job-info */
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.card-content {
    border: 1px solid #ccc;
    /* padding: 40px; */
    height: max-content;
}

.card-content:hover {
    opacity: 0.8;
    cursor: pointer;
}

.card-item-title {
    font-weight: bold;
    padding: 10px 0;
}

.card-item~li {
    line-height: 1.6;
    opacity: 0.7;
}

.card-item {
    font-weight: 600;
    position: relative;
    margin-top: 12px;
}

.card-item::before {
    content: "";
    position: absolute;
    left: -20px;
    top: 17px;
    width: 10px;
    height: 10px;
    background-color: #199cdb;
    border-radius: 50%;
}

/* section-skill */
#skill {}

.skill-list span {
    display: inline-block;
    width: 45px;
    height: 2px;
    margin-right: 10px;
    background-color: #ddd;
}

.list-color {
    background-color: #199cdb !important;
}

/* card-education */
.education {}

.card-body-icon i {
    font-size: 18px;
    width: 50px;
    height: 50px;
    margin: 0 4px 0 4px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid #199cdb;
    color: #199cdb;
}

.card-body-icon~span {
    display: inline-block;
    margin: 0 8px 0 8px;
}

/* section certificate */
.certificate-container {
    background-color: rgba(0, 0, 0, 0.1);
}

.certificate-heading,
.project-heading{
    font-weight: 300;
}

.certificate-list {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 100px;
}

.certificate-img {
    width: 300px;
    object-fit: cover;
    flex-shrink: 0;
}

.certificate-right {
    flex: 1;
}

.certificate-list:first-child {
    border-right: 1px solid #d6c08d;
}

.certificate-list:nth-child(1),
.certificate-list:nth-child(2) {
    border-bottom: 1px solid #d6c08d;
}

/* Project */
.project-item {
    border: 2px solid #ddd;
    opacity: 0.8;
    cursor: pointer;
}


.project-img {
    width: 100%;
}

.project-title,
.project-decs {
    padding: 12px 0;
    border-bottom: 1px solid #ccc;
}

.project-decs {

}

.project-decs span,
.product-desc i {
    padding: 0 8px;
    font-size: 16px;
}

.project-item table tr {
    display: block;
    padding: 12px 0;
    border-bottom: 1px solid #ccc;
}
.project-item table tr:last-child {
    border: none;
}

.project-item table tr td:first-child {
    width: 20%;
    padding-right: 20px;
}

/* footer */
#footer {
    background-color: #f7f7f7;

}

.footer-social {
    display: flex;
    justify-content: center;
}

.footer-social li {
    list-style: none;
    margin: 0 22px;
    font-size: 20px;
    cursor: pointer;
    color: #9b9797;
}

.footer-social li a i {
    font-size: 100%;
}
.footer-social li:hover a {
    opacity: 0.7;
}

/* Project-Chacter */
.grid-container {
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr auto;
    gap: 15px;
}

.grid-item {
    padding: 0 30px 30px;
}

.heading {
    padding: 40px 20px;
    color: #199cdb;
    font-weight: 500;
    border-bottom: 1px solid #ccc;
}

#goals  {

}

.goal-item {
    border-bottom: 1px solid #ccc;
}
/* scopes */
#scope {
    grid-column: 1/2;
    grid-row: 2/3;
} 

.scope-in {
    flex: 1;
}
.scope-out {
    flex: 1;
}

/* team--- */
#team {
    grid-column: 2/3;
    grid-row: 1/2;

}


#primary {

} 
/* timelinw */
#timeline {
    grid-column: 3/4;
    grid-row: 1/3;
}

.timeline-item {
    display: flex;
    align-items: center;
}
.timeline-item span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    padding: 20px;
    border-radius: 50%;
    color: #fff;
    margin: 8px 14px;
    border: 2px solid #d456f4;
    background-color: #8a2be2;
}
.timeline-item p {
    width: 100%;
    padding: 20px 0;
    border-bottom:  1px solid #ccc;
}
