@media (min-width : 1025px) {
    /* navbar */
    .navbar-nav {
            padding: 0 50px;
            width: 100%;
            justify-content: space-between;
        }
    .nav-item {
            border-right: 1px solid #ccc;
            border-left: 1px solid #ccc;
        }
    
        .nav-item:first-child {
            border-left: 1px solid #ccc;
        }
    
    /* section certificate */
    .certificate-list:first-child{
        border-right: 1px solid #d6c08d;
    }
    .certificate-list:nth-child(1),
    .certificate-list:nth-child(2) {
        border-bottom: 1px solid #d6c08d;
    }
    
}
